
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>
    #Button1 {
        display: inline-block;
        padding: 5px 10px;
        font-size: 17px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #32ab68;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }
    #name {
        border: 2px solid #a1a1a1;
        padding: 10px 20px;
        background: #dddddd;
        width: 200px;
        border-radius: 25px;
    }

    #div1 {
        border-radius: 25px;
        background: antiquewhite;
        padding: 20px;
        width: 1250px;
    }
    #div1 {
        border-radius: 25px;
        background-position: left top;
        background-repeat: repeat;
        padding: 20px;
        width: 1250px;
    }
</style>

<ol class="breadcrumb">
    <li class="active">
        菜单
    </li>
    <li class="active">
        公司信息
    </li>
</ol>

<div class="panel-body">
    <form role="form" class="form-inline">
        <div class="form-group" style="float:right"><input id="Button1" type="button" value="查询" onclick="Sel()" /></div>
        <div class="form-group" style="float:right"><input type="text" class="form-control" id="name" placeholder="请输入公司名称"></div>
        <button id="btn_add" type="button" class="btn btn-success" onclick="location.href='/Company/Create'">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增公司
        </button>
    </form>
</div>
<div class="table-responsive" id="div1">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><input id="top" class="top" type="checkbox" onclick="alldel()" /></th>
                <th>公司名称</th>
                <th>销售员</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="td"></tbody>
    </table>
</div>
<div class="form-group" style="float:left;padding-left:20px;padding-top:10px">
    <button id="btn_add" type="button" class="btn btn-danger" onclick="DelAll()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>批量删除
    </button>
</div>
<script>
    $(function () {
        $.ajax({
            url: 'http://localhost:44319/api/Company/GetCompanyList',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                $("#td").empty();
                $(data).each(function () {
                    var line = '<tr><td><input type="checkbox" class="ckdel" id=' + this.CompanyId + ' /></td>'
                        + '<td>' + this.Cname + '</td>'
                        + '<td>' + this.Salesman + '</td>'
                        + '<td>' + this.CreateTime.toString("yyyy-MM-dd") + '</td>'
                        + '<td><input id="btn1" type="button" value="删除" onclick="Del(' + this.CompanyId + ',this)" class="btn btn-danger" />&nbsp&nbsp&nbsp&nbsp<input id="btn2" type="button" value="修改" onclick="Upt(' + this.CompanyId + ')" class="btn btn-success" /></td > '
                        + '</tr>'
                    $("#td").append(line);
                })
            }
        })
    })
    function Sel() {
        var name = $("#name").val();
        $.ajax({
            url: 'http://localhost:44319/api/Company/GetCompany',
            type: 'get',
            data: { name: name },
            success: function (data) {
                $("#td").empty();
                $(data).each(function () {
                    var line = '<tr><td><input type="checkbox" class="ckdel" id=' + this.CompanyId + ' /></td>'
                        + '<td>' + this.Cname + '</td>'
                        + '<td>' + this.Salesman + '</td>'
                        + '<td>' + this.CreateTime + '</td>'
                        + '<td><input id="btn1" type="button" value="删除" onclick="Del(' + this.CompanyId + ',this)" class="btn btn-danger" />&nbsp&nbsp&nbsp&nbsp<input id="btn2" type="button" value="修改" onclick="Upt(' + this.CompanyId + ')" class="btn btn-success" /></td > '
                        + '</tr>'
                    $("#td").append(line);
                })
            }
        })
    }
    function Del(CompanyId) {
        if (confirm("确认要删除吗？")) {
            $.ajax({
                url: 'http://localhost:44319/api/Company/DelCompany/' + CompanyId,
                type: 'get',
                success: function (data) {
                    if (data > 0) {

                        alert("删除成功");
                        location.href = "/Index.html";
                    }
                    else {
                        alert("删除失败");
                    }
                }
            })
        }
    }
    function alldel() {
        if ($(".top").prop("checked")) {
            $(".ckdel").prop("checked", true);
        }
        else {
            $(".ckdel").each(function () {
                this.checked = !this.checked;
            })
        }
    }
    function DelAll() {
        if (confirm("确认删除吗？")) {
            var ids = [];
            $(".ckdel:checked").each(function () {
                ids.push(this.value);
            })
            if (ids.length == 0) {
                alert("请至少选中一条记录");
                return false;
            }
            $.ajax({
                url: 'http://localhost:44319/api/Company/DelCompany/id=' + ids.toString(),
                type: 'get',
                success: function (data) {
                    if (data > 0) {
                        alert("删除成功");
                    }
                    else {
                        alert("删除失败");
                    }
                }
            })
        }
    }

    function Upt(Id) {
        location.href = "/Company/Update/?id=" + Id;
    }
</script>

